<article class="pub-item">
  <h3 class="pub-title"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
  {{- with .Params.authors }}
  <p class="pub-authors">
    {{- $len := sub (len .) 1 -}}
    {{- range $i, $a := . -}}
      {{- if $a.home -}}<a href="{{ $a.home }}">{{ $a.name | safeHTML }}</a>{{- else -}}{{ $a.name | safeHTML }}{{- end -}}{{ if lt $i $len }}, {{ end }}
    {{- end -}}
  </p>
  {{- end }}
  {{- if .Params.venue }}
  <p class="pub-venue">{{ .Params.venue | safeHTML }}</p>
  {{- end }}
  {{- partial "pub_links.html" . -}}
</article>

