{{- if .Params.venue }}
<h5 class="title is-5">{{ .Params.venue | safeHTML }}</h5>
{{- end }}
<div class="block has-text-centered">
  {{- $page := or .Params.page .Params.paper -}}
  {{- if $page }}
  <span class="link-block">
    <a href="{{ $page }}" class="external-link button is-normal is-rounded is-dark">
      <span>Page</span>
    </a>
  </span>
  {{- end }}
  {{- if .Params.arxiv }}
  <span class="link-block">
    <a href="{{ .Params.arxiv }}" class="external-link button is-normal is-rounded is-dark">
      {{- partial "icon.html" "arxiv" }}
      <span>arXiv</span>
    </a>
  </span>
  {{- end }}
  {{- if .Params.code }}
  <span class="link-block">
    <a href="{{ .Params.code }}" class="external-link button is-normal is-rounded is-dark">
      {{- partial "icon.html" "github" }}
      <span>Code</span>
    </a>
  </span>
  {{- end }}
  {{- $video := or .Params.page_video .Params.video -}}
  {{- if $video }}
  <span class="link-block">
    <a href="{{ $video }}" class="external-link button is-normal is-rounded is-dark">
      {{- partial "icon.html" "youtube" }}
      <span>Video</span>
    </a>
  </span>
  {{- end }}
</div>

